---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*
* Curly V1.0
* Copyright 2014, Limitless LLC
* www.dreadpen.com
*/

/*

[Color codes]
Green #1abc9c
Dark Blue #16a085
Grey #ECF0F1

*/

/* *********************************************************
  General Styling
********************************************************* */

*, *:before, *:after {
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  padding: 3.5em 0;
}

.grey {
  background: #ECF0F1;
  padding: 100px 0 150px;
}

a {
  text-decoration: underline dotted;
  color: #006f33;
}

a:hover {
  text-decoration: underline solid;
  color: #16a085;
}

img, .overlay, input, textarea, .plan-wrap p {
/*transition*/
  -webkit-transition: all .12s linear;
     -moz-transition: all .12s linear;
       -o-transition: all .12s linear;
          transition: all .12s linear;
}

body {
  font-size: 1em;
  line-height: 1.7em;
  color: #1c1c1c;
  font-weight: normal;
}

body, input, textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6, .navigation a, .btn {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  position: relative;
  margin: 1em 0 1.4em;
  color: #484f58;
}

h1,h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
}

h2 {
  font-size: 2.8em;
  line-height: 1em;
}

h3 {
  font-size: 1.8em;
  line-height: 1em;
}

h4,h5,h6 {
  font-size: 1.125em;
  line-height: .5em;
}

blockquote {
  line-height: 1.2em;
  display: inline-block;
  margin: 1.3em 0;
  padding: 2px 20px 0 20px;
  border-left: 3px solid #e8e8e8;
}

blockquote p {
  margin-bottom: 0 !important;
}

.pleft-25 {
  padding-left: 25px;
}

.pright-25 {
  padding-right: 25px;
}

/* *********************************************************
  Curves
********************************************************* */

.curveUpColor, .curveDownColor {
  fill: #fff;
  stroke: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.curveUpColor {
  margin-top: -100px;
}

.curveDownColor {
  margin-bottom: -100px;
}

.curveMapUp {
  margin-top: 52px;
}

.curveMapDown {
  margin-top: -238px;
}

.curveGrey {
  fill: #ECF0F1;
  stroke: #ECF0F1;
}

/* *********************************************************
  Buttons
********************************************************* */

.btn {
  position: relative;
  display: inline-block;
  margin: .8em 0;
  padding: .5em 1.6em;
  color: #fff;
  font-size: .8em;
/*border-radius*/
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background:#1abc9c;
}

.btn:hover, .btn:focus, .btn-current {
  color: #fff;
  background: #16a085;
}

.btn-big {
  font-size: 1.4em;
  padding: .65em 2.2em;
}

.btn-price {
  width: 80%;
  margin: 1.5em 0 1.8em;
  padding: .5em;
  letter-spacing: 2px;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus {
  cursor: default;
  color: #bbb;
  background: #e6e6e6;
}

.btn-ghost {
  margin: 10px;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}

.btn-ghost:hover {
  border-color: transparent;
  background-color:#1abc9c;
}

.btn-ghost-dark {
  border-color: #1abc9c;
  color: #1abc9c;
}


/* *********************************************************
  Clients Logos Section
********************************************************* */

.cl-logo-carousel .item figure {
  max-height: 100px;
  margin: 5px;
  padding: 31px 0;
}

.cl-logo-carousel .item figure img {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.cl-logo-carousel.owl-theme .owl-controls .owl-page span, .header-carousel.owl-theme .owl-controls .owl-page span, .cl-client-carousel.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 11px;
  height: 11px;
  margin: 5px 7px;
  border: 2px solid #ccc;
/*border-radius*/
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: #bfbfbf;
  background-color: transparent;
  transition: all .13s linear;
}

.header-carousel.owl-theme .owl-controls .owl-page.active span,
.header-carousel.owl-theme .owl-controls.clickable .owl-page span:hover,

.cl-logo-carousel.owl-theme .owl-controls .owl-page.active span,
.cl-logo-carousel.owl-theme .owl-controls.clickable .owl-page:hover span,

.cl-client-carousel.owl-theme .owl-controls .owl-page.active span,
.cl-client-carousel.owl-theme .owl-controls.clickable .owl-page:hover span {
  border-color: transparent;
  background-color:#1abc9c;
  box-shadow: 0 0 0 3px #1abc9c;
}

.header-carousel .owl-pagination, .header-carousel .owl-buttons {
  position: absolute;
}

.header-carousel .owl-pagination {
  bottom: 95px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.header-carousel .owl-buttons {
  top: 300px;
  width: 100%;
}

.header-carousel .owl-buttons .owl-prev, .header-carousel .owl-buttons .owl-next {
  width: 8px;
  height: 22px;
  text-indent: -9999px;
  background: url(/images/arrows.png) no-repeat;
}

.header-carousel .owl-buttons .owl-prev {
  background-position: 0 -22px;
}

.header-carousel .owl-buttons .owl-prev {
  margin-left: 40px;
  float: left;
}

.header-carousel .owl-buttons .owl-next {
  margin-right: 40px;
  float: right;
}


//
// Plain styles?
//

.name-plain {
  background-color: black;
  padding-left: 1em;
  padding-right: 2em;
  float: left;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  a {
    font-size: 140%;
    width: 4em;
  }
}

.name-plain img {
  width: 4em;
}

.header-plain a {
  text-decoration: none;
  color: white;
}

.header-plain a:hover {
  text-decoration: underline;
}

.header-plain a:active {
  color: lightgrey;
}

.header-plain {
  background-color: black;
  align-items: center;
}

body.plain {
  margin-left: 0em;
  margin-bottom: 0em;
  margin-top: 0em;
  margin-right: 0em;
}

h3.plain {
    font-size: 1.4em;
    line-height: inherit;
    font-weight: normal;
    a {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      text-decoration: underline;
      color: auto;
    }
}

.anaddress {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 4em auto;
  border-right: 2px solid #ebebeb;
}

.anaddress div {
  padding-left: 2em;
  background-color: white;
}

.contact {
  padding-top: 0;
}

.contact h2 {
  text-align: center;
  margin-top: 0;
}

.contact .address h3 {
  margin-top: 0;
}

address {
  margin-top: 3em;
}

address div {
  position: relative;
  margin-top: 20px;
}

address i {
  position: absolute;
  top: 2px;
  left: 0;
}

.address span {
  line-height: 1.1;
  margin-bottom: 3px;
  color: #484f58;
  font-size: 1.125em;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.phone {
  line-height: 30px;
}

.box-icon {
  border-right: 2px solid #ebebeb;
  font-size: 1.4em;
  margin-left: 2em;
}

.box-icon i {
  line-height: 45px;
  color: #16a085;
}

//
// Form, Comments and Contact
//

.contactus-grid {
  display: grid;
  /* grid-template-columns: 20em auto; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.comments, .form {
  padding: 0em 3em;
}

.leave-comment {
  width: 80%;
  margin: 0 auto;
}

.contact-form .form {
 /* padding: 0; */
}

.comments {
  margin: 0 0 1em;
  text-align: left;
}

ul.nested-comments  ul li {
  margin: 1em 3em;
}

.comment p {
  margin-left: 76px;
}

.comment {
  margin-bottom: 1em;
  padding: 1em 0;
}

.comment-avatar {
  float: left;
  width: 60px;
  height: auto;
  margin-right: 1em;
}

.comment-meta span {
  font-size: .8em;
  color: #999;
}

.comment-meta .mid-sep {
  padding: 0 2px;
}

.avatar {
  width: 60px;
  height: 60px;
/*border-radius*/
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}
/* Inputs */

input:not([type=submit]):not([type=file]):not([type=image]), textarea {
  width: 100% !important;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  border: 2px solid #ebebeb;
/*border-radius*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background: white;
  box-shadow: 0px 0px 0px 2px transparent;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

input:not([type=submit]):not([type=file]):focus, textarea:focus {
  border-color:#1abc9c;
  outline: none;
}

/* input type image: for paypal button */
input[type=image] {
  margin-bottom: 25px;
  padding: 0 15px 2px;
  border: 2px solid #ebebeb;
}


textarea {
  max-width: 100%;
  min-height: 150px;
  padding: 15px;
}

.submit {
  font-size: 1.1em;
  position: relative;
  width: 190px;
  height: 45px;
  margin-bottom: 2em;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  border: 0;
  float: right;
}

.submit:active {
  outline: none;
}

.leave-comment {
  margin-top: 3em;
}

input:not([type=submit]):not([type=file]):focus, textarea:focus {
  -webkit-animation: rubberBand 0.5s 1;
     -moz-animation: rubberBand 0.5s 1;
       -o-animation: rubberBand 0.5s 1;
          animation: rubberBand 0.5s 1;
}

/*-------------------------------------------------------------
  Media queries
---------------------------------------------------------------*/

@media handheld, only screen and (max-width: 1200px) {
  #top-header {
    padding: 15px 20px;
  }

  .team-social {
    height: 30px;
  }

  .team-social a i {
    font-size: 1em;
    padding: 3px;
  }
}

@media handheld, only screen and (max-width: 767px) {
  #top-header {
    position: absolute;
    padding: 8px 0;
  }

  .logo-wrap {
    float: left;
    width: 100%;
    margin-bottom: .5em;
  }

  #top-header .col-1-1 {
    margin: 0;
  }

  .navigation ul {
    display: none;
    height: 100%;

  }

  .navigation {
    float: none;
  }

  .navigation li {
    width: 100%;
  }

  .navigation a {
    margin-left: 0;
    width: 100% !important;
    display: block;
  }

  .navigation label {
    position: absolute;
    display: block;
    right: 0;
    top: 7px;
    color: #fff;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
  }

  .navigation label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }

  .navigation input[type=checkbox]:checked ~ label:after {
    color: #fff;
  }

  .navigation input[type=checkbox]:checked ~ ul {
    display: block;
  }

  .navigation input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    text-align: left;
    padding: .8em 0;
  }

  .navigation .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    display: block;
    border: none;
    box-shadow: none;
    width: 100%;
  }

  .service-entry {
    margin-bottom: 2.5em;
  }

  #page-sidebar-grid .post-wrap {
    width: 100%;
  }

  .single {
    width: 100%
  }

  .parallax-section .content h2, .content-header h2  {
    font-size: 2em;
  }
}

@media handheld, only screen and (max-width: 600px) {
  .logo {
    display: block;
    float: left;
    width: 264px;
    height: 71px;
    text-indent: -9999px;
    background: url(/images/logo-qwan-only.png) no-repeat;
    background-size: 264px 71px;
  }
}

@media handheld, only screen and (max-width: 480px) {

  .header-carousel {
    height: 620px;
  }

  .social-set a {
    padding: 0 !important;
  }

  .post-wrap .post {
    padding: 1em !important;
  }

  .post-wrap .post-meta li a {
    margin: 0;
    width: 100%;
    padding: 6px;
  }

  .comments, #leave-comment {
    padding: .6em 1.7em;
  }

  ul.nested-comments li {
    margin: 0 1em;
  }

  ul.nested-comments ul li {
    margin: 0;
  }

  .post-wrap {
    width: 100%;
  }

  .parallax-section .content p {
    width: 100%;
  }

  .parallax-section .wrap {
    padding: 0;
  }

  .parallax-section .content h2, .content-header h2 {
    font-size: 1.2em;
  }

  .parallax-section .content p, .home-slider .content p {
    font-size: 0.8em;
    margin: 0 auto 10px auto;
    line-height: 18px;
  }

  .team-social {
    height: 50px;
    opacity: 1;
  }

  .team-social a i {
    font-size: 1.5em;
    padding: 8px;
  }
}

%vertical-rhythm {
    margin-bottom: 0.7em;
}

@import "parallax";
@import "blog";
@import "header";
@import "footer";
@import "team";
@import "clients";
@import "services";
@import "icomoon";
@import "breadcrumbs";
@import "syntax-highlighting-qwan";
@import "qwan-overrides";
