# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: QWAN - Quality Without a Name
email: info@qwan.eu
description: > # this means to ignore newlines until "baseurl:"
  QWAN - Quality Without a Name: development, coaching, consulting, training.
  Systemic approach to developing software organizations.
  Experts in Agile Development, Test Driven Development, Refactoring; long time eXtreme Programmers
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://qwan.eu" # the base hostname & protocol for your site
github_username:  qwaneu

exclude: [README.md, vendor]
assets:
  source_maps: true
  destination: "/assets"
  compression: false
  gzip: false
  defaults:
    integrity:
      {css,img,js}: false
  caching:
    enabled: true
    path: ".jekyll-cache/assets"
    type: file
  # --
  # Assets you wish to always have compiled.
  #   This can also be combined with raw_precompile which
  #   copies assets without running through the pipeline
  #   making them ultra fast.
  # --
  precompile: []
  raw_precompile: [
    #
  ]
  # --
  # baseurl: whether or not to append site.baseurl
  # destination: the folder you store them in on the CDN.
  # url: the CDN url (fqdn, or w/ identifier).
  # --
  cdn:
    baseurl: false
    destination: false
    url: null
  # --
  # See lib/jekyll/assets/config.rb
  #   for a list of defaults
  # --
  sources:
    - _assets/custom
  plugins:
    css: { autoprefixer: {}}
    img: { optim: {}}

# Build settings
markdown: kramdown
plugins:
    - jekyll-redirect-from
kramdown:
    syntax_highlighter_opts:
        block:
            line_numbers: true

# collections:
#   - trainingcourses:
#     output: true
#   - workshops:
#     output: true
