---
layout: accessibletwo
title: Reflections - Blog
---

{% include header_clean.html %}
<div style="margin-left: 2em;">
  <h1 style="margin-bottom: 0em;">{{page.title}}</h1>
  <div class="feed"><br/>
    <a href="/feed.xml"><img class="feed-icon" src="/images/feed-icon-24x24.png" alt="">
      Subscribe to our RSS feed.</a>
  </div>
</div>
<div>
<div class="content grid-pad contact blogsummary-grid" >
  {% for post in site.posts %}
  <div class="anarticle" >
    <article >
      <div >
        <h3 class="plain"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <div class="blog-summary-img">
            <img src="{{post.image}}" alt="">
          </div>
        <div class="post-meta">
          <a href="{{ post.url }}">{{ post.date | date_to_long_string }}</a></a>
        </div>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">Read More</a>
    </article>
  </div>
  {% endfor %}
</div>

<div class="feed"><br/>
  <a href="/feed.xml"><img class="feed-icon" src="/images/feed-icon-24x24.png" alt="">
    Subscribe to our RSS feed.</a>
</div>
{% include curvedown.html %}
{% include footer.html %}
