---
layout: accessibletwo
title: Clients
---

{% include header_clean.html %}

<div style="margin-left: 2em;">
  <h1>{{page.title}}</h1>
</div>

<div class="client-quotes-list">
  <div class="client-quotes-item">
    <div class="quotes-icon"><i class="icon-quotes-left"></i></div>
    <p>
    Werken met Rob en Marc is een bijzonder geruststellende en inspirerende
    ervaring.

    Ze hebben in onze transitie naar een totaal nieuw systeem, nieuwe
    architectuur en een hernieuwde definitie van craftsmanship een cruciale
    rol gespeeld.

    Met hun unieke stijl vertalen ze hun verbluffende kennis en ervaring
    naar kleine stapjes en hebben ons daarin meegenomen op een manier dat we
    werkelijk het idee hebben dat we het zelf bedacht hebben.

    Wat dit betekent voor draagvlak en slagkracht moge duidelijk zijn.

    Zonder Rob en Marc was ons dit niet gelukt.
    </p>
    <h4>Geert Bossuyt, delivery manager at ZorgDomein</h4>
  </div>

  <div class="client-quotes-item">
    <div class="quotes-icon"><i class="icon-quotes-left"></i></div>
    <p>
    Duurzaam Agile software ontwikkelen vergt niet alleen een Agile mindset,
    maar ook een Agile skillset. QWAN heeft ons geholpen om die te ontwikkelen.
    Niet door advies vanaf de zijlijn, maar door actieve participatie op het spelveld.
    Samen de handen vuil maken en lering trekken uit de praktijk.
    De ene keer door het stellen van coachingsvragen, de andere keer door het voorbeeld te geven of door het geven van instructie.
    Steeds wat nodig is om verder te groeien als ontwikkelaar en als team.
    </p>
    <h4>Hans Kalle, development manager at RIGD-Loxia</h4>
  </div>

  <div class="client-quotes-item">
    <div class="quotes-icon"><i class="icon-quotes-left"></i></div>
    <p>At your TDD training course, I actually learned something! (comparing with other unit testing courses)</p>
    <h4>A course participant</h4>
  </div>

  <div class="client-quotes-item">
    <div class="quotes-icon"><i class="icon-quotes-left"></i></div>
    <p>Very educational (as I expected); I can definitely apply this in my project</p>
    <h4>A course participant</h4>
  </div>
  
  <div class="client-quotes-item">
    <div class="quotes-icon"><i class="icon-quotes-left"></i></div>
    <p>“This was the first training where I had:<br>
    - no problem to stay awake<br>
    - no problem with the afternoon "dip"<br>
    - no problem to stick to the subject<br>
    - no problem completing the exercises.</p>
    <h4>A course participant</h4>
  </div>
</div>


<div class="content clients-grid" >
  <div class="client-wrap">
    <a href="https://www.zorgdomein.com">
      <figure>
        <img src="images/clients/logo-zd.svg" alt="ZorgDomein" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="http://www.software-acumen.com">
      <figure>
        <img src="images/clients/software-acumen.png" alt="Software Acumen" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="https://www.rigd-loxia.nl">
      <figure>
        <img src="images/clients/rigd-loxia.png" alt="RIGD-Loxia" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="http://www.ncim-groep.nl">
      <figure>
        <img src="images/clients/ncim-groep.gif" alt="NCIM Groep" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="http://www.backbase.com">
      <figure>
        <img src="images/clients/backbase.png" alt="Backbase" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="https://www.evision-software.com">
      <figure>
        <img src="images/clients/evision_logo.png" alt="Evision" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="https://http://promexx.nl">
      <figure>
        <img src="images/clients/promexx.png" alt="Promexx" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="http://www.nn-group.com">
      <figure>
        <img src="images/clients/logo_nn.png" alt="NN Group" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="https://www.tbwb.nl">
      <figure>
        <img src="images/clients/tbwb-logo.png" alt="TBWB" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="https://www.ziuz.com/">
      <figure>
        <img src="images/clients/logo-ziuz-2.svg" alt="Ziuz Visual Intelligence" />
      </figure>
    </a>
  </div>
  <div class="client-wrap">
    <a href="https://www.postcodeloterij.nl">
      <figure>
        <img src="images/clients/postcodeloterij.png" alt="Nationale Postcode Loterij" />
      </figure>
    </a>
  </div>
</div>

{% include curvedown.html %}
{% include footer.html %}
