---
layout: default
---
  {% include index-header.html %}
            <!-- Parallax Section -->
            <div class="parallax-section parallax1">
                <div class="grid grid-pad">
                    <div class="col-1-1">
                         <div class="content content-header" >
                            <h2>We Are QWAN</h2>
                            <p>Pragmatic software developers helping you build better software through agile training, consultancy and hands-on development.</p>
                            <a class="btn btn-ghost" href="#0">Find Out More</a>
                            <a class="btn btn-ghost" href="#0">Buy Code Smells & Refactoring cards</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Parallax Section -->

            {% include curveup.html %}

            <!-- Services Section -->
            <div class="wrap services-wrap" id="services">
                <section class="grid grid-pad services">
                    <h2>Our Services</h2>
                    <div class="col-1-3 service-box service-1" >
                        <div class="content">
                            <div class="service-icon">
                                <img src="images/qwan/mentoring2.png" class="circle-icon"></img>
                            </div>
                            <div class="service-entry">
                                <h3>Consultancy and Mentoring</h3>
                                <p>Systems approach to grow your development organization. An effective software development organization needs to attend to technical skills, agile processes, team organization, people growth. We take a whole systems approach.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-3 service-box service-2" >
                        <div class="content">
                            <div class="service-icon">
                                <img src="images/qwan/training2.png" class="circle-icon"></img>
                            </div>
                            <div class="service-entry">
                                <h3>Training</h3>
                                <p>We deliver courses on (agile) software development. Small groups, intensive courses, hands on, VERY interactive ... &amp; fun!</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-3 service-box service-3">
                        <div class="content">
                            <div class="service-icon">
                                <img src="images/qwan/development2.png" class="circle-icon"></img>
                            </div>
                            <div class="service-entry">
                                <h3>Development</h3>
                                <p>Have we mentioned that we're software developers? We are. And we're passionate about the quality of our work.
                                We believe that for sustainable development, we need state-of-the-art practices like test driven development, continuous integration and relentless refactoring.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End Services Section -->

            {% include curvedown.html %}

            <!-- include work-section.html -->

            <!-- include curveup.html -->

              <!-- Quotes Section -->
            <div class="wrap grey services-wrap" >
                <section class="grid grid-pad">
                    <div class="col-1-1 service-box cl-client-carousel-container">
                        <div class="content">
                            <div class="cl-client-carousel">
                                
                                <div class="item client-carousel-item"><!-- Start of item -->
                                <div class="quotes-icon">
                                    <i class="icon-quotes-left"></i>
                                </div>
                                <p>
                                Werken met Rob en Marc is een bijzonder geruststellende en inspirerende
                                ervaring.

                                Ze hebben in onze transitie naar een totaal nieuw systeem, nieuwe
                                architectuur en een hernieuwde definitie van craftsmanship een cruciale
                                rol gespeeld.

                                Met hun unieke stijl vertalen ze hun verbluffende kennis en ervaring
                                naar kleine stapjes en hebben ons daarin meegenomen op een manier dat we
                                werkelijk het idee hebben dat we het zelf bedacht hebben.

                                Wat dit betekent voor draagvlak en slagkracht moge duidelijk zijn.

                                Zonder Rob en Marc was ons dit niet gelukt.
                                </p>
                                <h4>-Geert Bossuyt, Delivery Manager at ZorgDomein</h4>
                                </div><!-- End of item -->
                                
                                <div class="item client-carousel-item"><!-- Start of item -->
                                <div class="quotes-icon">
                                    <i class="icon-quotes-left"></i>
                                </div>
                                <p>At your TDD training course, I actually learned something! (in contrast with other unit testing courses)</p>
                                <h4>-A happy developer</h4>
                                </div><!-- End of item -->
                                <div class="item client-carousel-item"><!-- Start of item -->
                                <div class="quotes-icon">
                                    <i class="icon-quotes-left"></i>
                                </div>
                                <p>Goed bezig!</p>
                                <h4>-Marc Evers</h4>
                                </div><!-- End of item -->
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End Quotes Section -->

            {% include curveup.html %}

            <!-- Blog Section -->
            <div class="wrap blog-grid " id="blog">
                <div class="grid grid-pad">
                    <div class="content" >
                        <h2>Our Blog</h2>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n1.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">Drawing hour</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">15 Januar, 2015</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n2.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">Photography workshop</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">2 Februar, 2014</a> <span class="mid-sep">·</span> <a href="#0">Photography</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n3.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">On vacation</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">26 March, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n4.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">You have to take breaks</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">19 June, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-1"><a class="btn" href="blog.html">View All</a></div>
                    </div>
                </div>
            </div>
            <!-- End Blog Section -->

            {% include curvedown.html %}

                <!-- Parallax Section - Counter -->
                <div class="parallax-section parallax2">                    
                    <div class="wrap">
                        <section class="grid grid-pad callout">
                            <div class="col-1-3">
                                <div class="content" >
                                <div class="info-counter">
                                        <div class="info-counter-row">
                                            <i class="info-counter-icon icon-mug"></i>
                                        </div>
                                        <div class="info-counter-content">
                                            <h5 class="info-counter-number">
                                            <span class="counter">55</span>
                                            <span class="info-counter-units">Cups</span>
                                            </h5>
                                        <div class="info-counter-text">Average weekly coffee drank</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-3">
                                <div class="content" >
                                <div class="info-counter">
                                        <div class="info-counter-row">
                                            <i class="info-counter-icon icon-embed"></i>
                                        </div>
                                        <div class="info-counter-content">
                                            <h5 class="info-counter-number">
                                            <span class="counter">9000</span>
                                            <span class="info-counter-units">Lines</span>
                                            </h5>
                                        <div class="info-counter-text">Average weekly lines of code</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1-3">
                                <div class="content" >
                                <div class="info-counter">
                                        <div class="info-counter-row">
                                            <i class="info-counter-icon icon-trophy"></i>
                                        </div>
                                        <div class="info-counter-content">
                                            <h5 class="info-counter-number">
                                            <span class="counter">400</span>
                                            <span class="info-counter-units">Customers</span>
                                            </h5>
                                        <div class="info-counter-text">Average yearly happy clients</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- End Parallax Section -->

            {% include curveup.html %}

                <!-- Team Section -->
                <div class="wrap team-wrap grey" id="team">
                    <div class="grid grid-pad">
                        <div class="content" >
                            <h2>Our Team</h2>
                            <div class="col-1-3" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="images/team/user2.png" alt="">
                                            <div class="team-social">
                                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Marc Evers</h5>
                                            <span>consulting developer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-3" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="images/team/user1.png" alt="">
                                            <div class="team-social">
                                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Willem van den Ende</h5>
                                            <span>developing consultant</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-1-3" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="images/team/user3.png" alt="">
                                            <div class="team-social">
                                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Rob Westgeest</h5>
                                            <span>developing developers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Team Section -->

            {% include curveup.html %}

                <!-- Clients Logos Section -->
                <div class="wrap" >
                    <div class="grid grid-pad">
                        <div class="col-1-1">
                            <div class="content">
                                <!-- Start of Carousel Container -->
                                <div class="cl-logo-carousel col-sm-12">

                                    <div class="item"><!-- Start of item -->
                                    <a href="#">
                                        <figure>
                                            <p>ZorgDomein</p>
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                    <div class="item"><!-- Start of item -->
                                    <a href="http://www.software-acumen.com/">
                                        <figure>
                                            <img src="images/clients/SoftwareAcumen-white-4001.png" alt="" />
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                    <div class="item"><!-- Start of item -->
                                    <a href="#">
                                        <figure>
                                            <img src="images/clients/3.png" alt="" />
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                    <div class="item"><!-- Start of item -->
                                    <a href="#">
                                        <figure>
                                            <img src="images/clients/4.png" alt="" />
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                    <div class="item"><!-- Start of item -->
                                    <a href="#">
                                        <figure>
                                            <img src="images/clients/5.png" alt="" />
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                    <div class="item"><!-- Start of item -->
                                    <a href="#">
                                        <figure>
                                            <img src="images/clients/1.png" alt="" />
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                    <div class="item"><!-- Start of item -->
                                    <a href="#">
                                        <figure>
                                            <img src="images/clients/2.png" alt="" />
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                    <div class="item"><!-- Start of item -->
                                    <a href="#">
                                        <figure>
                                            <img src="images/clients/3.png" alt="" />
                                        </figure>
                                    </a>
                                    </div><!-- End of item -->
                                    
                                </div>
                                <!-- End of Carousel Container -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Clients Logos Section -->

                {% include curvedown.html %}

                <!-- Contact Section -->
                <div class="wrap contact" id="contact">
                    <div class="grid grid-pad" >
                        <h2>Contact</h2>
                        <div class="col-1-2" >
                            <div class="content address">
                                <h3>Talk to us</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iusto fugit esse soluta quae debitis quibusdam harum voluptatem, maxime, aliquam sequi. Tempora ipsum magni unde velit corporis fuga, necessitatibus blanditiis.</p>
                                <address>
                                    <div>
                                        <div class="box-icon">
                                            <i class="icon-location"></i>
                                        </div>
                                        <span>Address:</span>
                                        <p>9983 City name, Street name, 232 Apartment C</p>
                                    </div>
                                    
                                    <div>
                                        <div class="box-icon">
                                            <i class="icon-clock"></i>
                                        </div>
                                        <span>Work Time:</span>
                                        <p>Monday - Friday from 9am to 5pm</p>
                                    </div>
                                    
                                    <div>
                                        <div class="box-icon">
                                            <i class="icon-phone"></i>
                                        </div>
                                        <span>Phone:</span>
                                        <p>+31 6 44 55 000 3 (Marc)</p>
                                        <p>+31 6 44 55 000 3 (Rob)</p>
                                        <p>+44 6 44 55 000 3 (Willem)</p>
                                    </div>
                                </address>
                            </div>
                        </div>
                         <div class="col-1-2 pleft-25" >
                            <div class="content contact-form">
                                <form class="form">
                                    <input type="text" class="comment-name" placeholder="Name*" required>
                                    <input type="email" class="comment-email" placeholder="Email*" required>
                                    <input type="text" class="comment-subject" placeholder="Subject">
                                    <textarea class="required comment-text" placeholder="Message..." required></textarea>
                                    <input type="submit" value="Send Message" class="btn submit comment-submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Contact Section -->

                {% include curvedown.html %}

                <!-- Footer -->
                <footer class="wrap">
                    <div class="grid grid-pad" >
                        <div class="col-1-4">
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>About</h3>
                                    <div class="textwidget">
                                      <p>QWAN is a strategic alliance of independent consultants-developers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>Recent Posts</h3>
                                    <div class="fwidget">
                                        <ul>
                                            <li><a href="#0">Suspendisse nec lectus non</a></li>
                                            <li><a href="#0">Phasellus euismod pulvinar</a></li>
                                            <li><a href="#0">Aliquam erat volutpat</a></li>
                                            <li><a href="#0">Phasellus euismod pulvinar</a></li>
                                            <li><a href="#0">Aliquam erat volutpat</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>More info</h3>
                                    <div class="textwidget">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                        <br>
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>Flickr Feed</h3>
                                    <div class="flickr-widget">
                                        <ul class="flickr-list">
                                            <li><a href="#0"><img src="images/flickr-widget/flickr1.jpg" alt=""></a></li>
                                            <li><a href="#0"><img src="images/flickr-widget/flickr2.jpg" alt=""></a></li>
                                            <li><a href="#0"><img src="images/flickr-widget/flickr3.jpg" alt=""></a></li>
                                            <li><a href="#0"><img src="images/flickr-widget/flickr4.jpg" alt=""></a></li>
                                            <li><a href="#0"><img src="images/flickr-widget/flickr5.jpg" alt=""></a></li>
                                            <li><a href="#0"><img src="images/flickr-widget/flickr6.jpg" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-footer">
                        <div class="grid grid-pad">
                            <div class="col-1-1" >
                                <div class="content">
                                    <div class="social-set">
                                        <a  href="#0"><i class="icon-facebook"></i></a>
                                        <a  href="#0"><i class="icon-twitter"></i></a>
                                        <a  href="#0"><i class="icon-linkedin2"></i></a>
                                        <a  href="#0"><i class="icon-dribbble4"></i></a>
                                        <a  href="#0"><i class="icon-instagram"></i></a>
                                    </div>
                                    <p class="source-org copyright">© 2016 QWAN - Quality Without a Name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

                <div class="loader-overlay">
                    <div class="loader">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
