---
layout: default
---
{% include header.html %}

<!-- Parallax Section -->
<div class="parallax-section parallax1">
  <section class="home"></section>
  <div class="grid grid-pad">
    <div class="col-1-1">
      <div class="content content-header" >
        <h2>We Are QWAN</h2>
        <p>We are Quality Without A Name, an initiative of pragmatic practitioners. We train and mentor teams, coach individuals and carry out bespoke development projects. We specialize in agile and lean software development.</p>
        <a class="btn btn-ghost" href="about">Find Out More</a>
        <a class="btn btn-ghost" href="shop">Buy Code Smells & Refactoring cards</a>
      </div>
    </div>
  </div>
</div>
<!-- End Parallax Section -->

{% include curveup.html %}

<!-- Services Section -->
<div class="wrap services-wrap" id="services">
  <section class="grid grid-pad services">
    <h2>Our Services</h2>
    <div class="col-1-3 service-box service-1" >
      <div class="content">
        <div class="service-icon">
          <img src="images/qwan/mentoring_highres.png" class="circle-icon"></img>
        </div>
        <div class="service-entry">
          <h3>Consultancy and Mentoring</h3>
          <p>We take a holistic, systemic approach to grow your development organization. An effective software development organization needs to attend to technical skills, agile processes, team organization, and personal growth.</p>
          <a class="btn read-more" href="consulting">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-1-3 service-box service-2" >
      <div class="content">
        <div class="service-icon">
          <img src="images/qwan/training_highres.png" class="circle-icon"></img>
        </div>
        <div class="service-entry">
          <h3>Training</h3>
          <p>We deliver courses on (agile) software development. Small groups, intensive courses, hands on, VERY interactive ... &amp; fun!</p>
          <a class="btn read-more" href="training">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-1-3 service-box service-3">
      <div class="content">
        <div class="service-icon">
          <img src="images/qwan/development_highres.png" class="circle-icon"></img>
        </div>
        <div class="service-entry">
          <h3>Development</h3>
          <p>Have we mentioned that we're software developers? We are. And we're passionate about the quality of our work.
          We believe that for sustainable development, we need state-of-the-art practices like test driven development, continuous integration and relentless refactoring.</p>
          <a class="btn read-more" href="development">Read More</a>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End Services Section -->

{% include curvedown.html %}

<!-- include work-section.html -->

<!-- include curveup.html -->

<!-- Quotes Section -->
<div class="wrap grey services-wrap" >
  <section class="grid grid-pad">
    <div class="col-1-1 service-box cl-client-carousel-container">
      <div class="content">
        <div class="cl-client-carousel">

          <div class="item client-carousel-item"><!-- start of item -->
            <div class="quotes-icon">
              <i class="icon-quotes-left"></i>
            </div>
            <p>
            Werken met Rob en Marc is een bijzonder geruststellende en inspirerende
            ervaring.

            Ze hebben in onze transitie naar een totaal nieuw systeem, nieuwe
            architectuur en een hernieuwde definitie van craftsmanship een cruciale
            rol gespeeld.

            Met hun unieke stijl vertalen ze hun verbluffende kennis en ervaring
            naar kleine stapjes en hebben ons daarin meegenomen op een manier dat we
            werkelijk het idee hebben dat we het zelf bedacht hebben.

            Wat dit betekent voor draagvlak en slagkracht moge duidelijk zijn.

            Zonder Rob en Marc was ons dit niet gelukt.
            </p>
            <h4>-Geert Bossuyt, delivery manager at ZorgDomein</h4>
          </div><!-- end of item -->

          <div class="item client-carousel-item"><!-- start of item -->
            <div class="quotes-icon">
              <i class="icon-quotes-left"></i>
            </div>
            <p>
            Duurzaam Agile software ontwikkelen vergt niet alleen een Agile mindset, 
            maar ook een Agile skillset. QWAN heeft ons geholpen om die te ontwikkelen. 
            Niet door advies vanaf de zijlijn, maar door actieve participatie op het spelveld. 
            Samen de handen vuil maken en lering trekken uit de praktijk. 
            De ene keer door het stellen van coachingsvragen, de andere keer door het voorbeeld te geven of door het geven van instructie. 
            Steeds wat nodig is om verder te groeien als ontwikkelaar en als team.
            </p>
            <h4>-Hans Kalle, development manager at RIGD-Loxia</h4>
          </div><!-- end of item -->

          <div class="item client-carousel-item"><!-- Start of item -->
            <div class="quotes-icon">
              <i class="icon-quotes-left"></i>
            </div>
            <p>At your TDD training course, I actually learned something! (comparing with other unit testing courses)</p>
            <h4>-A course participant</h4>
          </div><!-- End of item -->
          <div class="item client-carousel-item"><!-- Start of item -->
            <div class="quotes-icon">
              <i class="icon-quotes-left"></i>
            </div>
            <p>Very educational (as I expected); I can definitely apply this in my project</p>
            <h4>-A course participant</h4>
          </div><!-- End of item -->
          <div class="item client-carousel-item"><!-- Start of item -->
            <div class="quotes-icon">
              <i class="icon-quotes-left"></i>
            </div>
            <p>“This was the first training where I had:<br>
            - no problem to stay awake<br>
            - no problem with the afternoon "dip"<br>
            - no problem to stick to the subject<br>
            - no problem completing the exercises.</p>
            <h4>-A course participant</h4>
          </div><!-- End of item -->
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End Quotes Section -->

{% include curveup.html %}

<!-- Blog Section -->
<div class="wrap blog-grid " id="blog">
  <div class="grid grid-pad">
    <div class="content" >
      <h2>Our Blog</h2>

      {% for post in site.posts limit:4 %}
      <div class="col-1-2" >
        <article class="post-wrap">
          {% if post.image %}
-          <div class="post-img">
             <a href="{{ post.url}}"><img src="{{ post.image }}" alt="" style="width: 50%; height: 50%;"></a>
           </div>
         {% endif %}
          <div class="post">
            <h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post-meta">
              <a href="{{ post.url }}">{{ post.date | date_to_long_string }}</a> <span class="mid-sep">·</span> <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
            <p>{{ post.excerpt }}</p>
            <a class="btn read-more" href="{{ post.url }}">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}

     <div class="col-1-1"><a class="btn" href="blog.html">View All</a></div>
    </div>
  </div>
</div>
<!-- End Blog Section -->

{% include curvedown.html %}

<!-- Parallax Section - Counter -->
<div class="parallax-section parallax2">
  <div class="wrap">
    <section class="grid grid-pad callout">
      <div class="col-1-3">
        <div class="content" >
          <div class="info-counter">
            <div class="info-counter-row">
              <i class="info-counter-icon icon-mug"></i>
            </div>
            <div class="info-counter-content">
              <h5 class="info-counter-number">
              <span class="counter">85</span>
                <span class="info-counter-units">Cups</span>
              </h5>
              <div class="info-counter-text">Average weekly coffee drank</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-3">
        <div class="content" >
          <div class="info-counter">
            <div class="info-counter-row">
              <i class="info-counter-icon icon-embed"></i>
            </div>
            <div class="info-counter-content">
              <h5 class="info-counter-number">
                <span class="counter">50</span>
                <span class="info-counter-units">Conferences</span>
              </h5>
              <div class="info-counter-text">Conferences organized</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1-3">
        <div class="content" >
          <div class="info-counter">
            <div class="info-counter-row">
              <i class="info-counter-icon icon-trophy"></i>
            </div>
            <div class="info-counter-content">
              <h5 class="info-counter-number">
                <span class="counter">10</span>
                <span class="info-counter-units">Deployments</span>
              </h5>
              <div class="info-counter-text">Average weekly go-lives</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- End Parallax Section -->

{% include curveup.html %}

<!-- Team Section -->
<div class="wrap team-wrap" id="team">
  <div class="grid grid-pad">
    <div class="content" >
      <h2>Our Team</h2>
      <div class="col-1-3" >
        <div class="content staff-content">
          <div class="recent-work staff-img">
            <div class="img-wrap staff-img">
              <img src="images/qwan/marc.png" alt="">
              <div class="team-social">
                <a class="sl-fb" href="http://www.piecemealgrowth.nl"><i class="icon-home2"></i></a>
                <a class="sl-tw" href="https://twitter.com/marcevers#"><i class="icon-twitter"></i></a>
                <a class="sl-gp" href="https://plus.google.com/+MarcEvers"><i class="icon-googleplus2"></i></a>
                <a class="sl-ln" href="https://nl.linkedin.com/in/marcevers"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="work-info staff-info">
              <h5>Marc Evers</h5>
              <span>consulting developer</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-3" >
        <div class="content staff-content">
          <div class="recent-work staff-img">
            <div class="img-wrap staff-img">
              <img src="images/qwan/willem.png" alt="">
              <div class="team-social">
                <!--<a class="sl-fb" href="#"><i class="icon-skype"></i></a>-->
                <a class="sl-tw" href="https://twitter.com/mostalive"><i class="icon-twitter"></i></a>
                <a class="sl-gp" href="https://plus.google.com/+WillemvandenEnde"><i class="icon-googleplus2"></i></a>
                <a class="sl-ln" href="https://www.linkedin.com/in/willemvandenende"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="work-info staff-info">
              <h5>Willem van den Ende</h5>
              <span>developing consultant</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-1-3" >
        <div class="content staff-content">
          <div class="recent-work staff-img">
            <div class="img-wrap staff-img">
              <img src="images/qwan/rob.jpg" alt="">
              <div class="team-social">
                <!--<a class="sl-fb" href="#"><i class="icon-skype"></i></a>-->
                <a class="sl-tw" href="https://twitter.com/westghost"><i class="icon-twitter"></i></a>
                <!--<a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>-->
                <a class="sl-ln" href="https://nl.linkedin.com/in/rob-westgeest-a401b6"><i class="icon-linkedin"></i></a>
              </div>
            </div>
            <div class="work-info staff-info">
              <h5>Rob Westgeest</h5>
              <span>developing developers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Team Section -->

{% include curvedown.html %}

<!-- Clients Logos Section -->
<div class="grey wrap" >
  <div class="grid grid-pad">
    <div class="col-1-1">
      <div class="content">
        <!-- Start of Carousel Container -->
        <div class="cl-logo-carousel col-sm-12">

          <div class="item"><!-- Start of item -->
            <a href="https://www.zorgdomein.nl">
              <figure>
                <img src="images/clients/zorgdomein.png" alt="" />
              </figure>
            </a>
          </div><!-- End of item -->

          <div class="item"><!-- Start of item -->
            <a href="http://www.software-acumen.com">
              <figure>
                <img src="images/clients/software-acumen.png" alt="" />
              </figure>
            </a>
          </div><!-- End of item -->

          <div class="item"><!-- Start of item -->
            <a href="https://www.rigd-loxia.nl">
              <figure>
                <img src="images/clients/rigd-loxia.png" alt="" />
              </figure>
            </a>
          </div><!-- End of item -->

          <div class="item"><!-- Start of item -->
            <a href="http://www.ncim-groep.nl">
              <figure>
                <img src="images/clients/ncim-groep.gif" alt="" />
              </figure>
            </a>
          </div><!-- End of item -->

          <div class="item"><!-- Start of item -->
            <a href="http://www.backbase.com">
              <figure>
                <img src="images/clients/backbase.png" alt="" />
              </figure>
            </a>
          </div><!-- End of item -->

          <div class="item"><!-- Start of item -->
            <a href="https://www.evision-software.com">
              <figure>
                <img src="images/clients/evision_logo.png" alt="" />
              </figure>
            </a>
          </div><!-- End of item -->

          <div class="item"><!-- Start of item -->
            <a href="https://http://promexx.nl">
              <figure>
                <img src="images/clients/promexx.png" alt="" />
              </figure>
            </a>
          </div><!-- End of item -->

        </div>
        <!-- End of Carousel Container -->
      </div>
    </div>
  </div>
</div>
<!-- End Clients Logos Section -->

{% include curveup.html %}

<!-- Contact Section -->
<div class="wrap contact" id="contact">
  <div class="grid grid-pad" >
    <h2>Contact</h2>
    <div class="col-1-2" >
      <div class="content address">
        <h3>Talk to us</h3>
        <p>We’re feedback addicts...let's start a conversation!</p>
        <address>
          <div>
            <div class="box-icon" style="height:105px;">
              <i class="icon-phone"></i>
            </div>
            <span>Phone:</span>
            <p>+31 6 44 55 000 3 (Marc)<br>
            +31 6 457 76 328 (Rob)<br>
            +44 743 8651 672 (Willem)</p>
          </div>
          <div>
            <div class="box-icon" style="height:105px;">
              <i class="icon-location"></i>
            </div>
            <span>NL Office:</span>

            <p>Elsakkersstraat 25<br>
            5081 GL Hilvarenbeek<BR>
            The Netherlands
            </p>
          </div>
          <div>
            <div class="box-icon" style="height:135px;">
              <i class="icon-location"></i>
            </div>
            <span>UK Office:</span>

            <p>The Guild<br/>
            High Street<br/>
            Bath BA1 5EB<br/>
            United Kingdom

            </p>
          </div>


        </address>
      </div>
    </div>
    <div class="col-1-2 pleft-25" >
      <div class="content contact-form">
        <iframe src="https://docs.google.com/forms/d/1mfXpqNquyyQRdjyXYvINrf4Cm3d_vAvD9EvTRS_RsNs/viewform?embedded=true" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Section -->

{% include curvedown.html %}

<!-- Footer -->
{% include footer.html %}
<div class="loader-overlay">
  <div class="loader">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
