---
layout: default
title: QWAN Code smells and Refactoring cue cards
---
{% include index-header.html baseurl="/" %}

{% include other-page-top-section.html title="QWAN Code smells and Refactoring cue cards" %}

<div class="wrap" id="shop">
  <div class="grid grid-pad">
    <div class="col-1-1">

      <p>Our refactoring cue cards let you visualize refactorings easily.
      We designed them to teach code smells and refactoring. The cards are
      also handy to break down refactorings in work situations, for instance
      when doing a code review or while carrying out a set of refactorings.
      </p>
      <p align="center"><img title="A few sample
      cards from the deck"
      src="/images/smells-refactoring-cards-sample.png"
      alt="Front side of the cardbox, depicting two smell cards and a
      refactoring card stacked on each other." width="307" height="236" /></p>

      <p>Half of the deck consists of code smell cards, the other half explains
      refactorings. A smell card explains how to detect the smell and refers
      to possible refactorings that could help make it go away. Refactoring
      cards have a small diagram (a 'refactoring thumbnail) showing the before
      and after situation on one side, and an explanation of the
      refactoring mechanics on the other side.
      </p>

      <p>An explanation on how to use them is on the back of the pack. The
      pack also contains a list of references and a few blank cards to add
      your own smells and refactorings.
      </p>

      <p>EUR 5.99 per deck; EU Shipping &amp; handling EUR 3.63 per order
      (all amounts include 21% VAT).
      </p>

      <p><form action="https://www.paypal.com/cgi-bin/webscr" method="post"
        target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="SVRYHBYJBXRNC">
        <input type="image"
        src="https://www.paypalobjects.com/en_US/NL/i/btn/btn_buynowCC_LG.gif"
        border="0" name="submit" alt="PayPal - The safer, easier way to pay
        online!">
        <img alt="" border="0"
        src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1"
        height="1">
      </form></p>
      <p>We accept Paypal, major credit cards and UK debit cards. Payment
      and invoicing is handled by <a href="http://www.piecemealgrowth.nl">Piecemeal Growth</a>, a partner in QWAN.</p>

      <img class="alignnone size-full wp-image-1719"
      title="refactoring_cards_waaier"
      src="/images/refactoring_cards_waaier3.jpg"
      alt="refactoring_cards_waaier" width="688" height="516" />

    </div>
  </div>
</div>

{% include footer.html %}

