<header id="top-header" class="header-home">
  <div class="grid">
    <div class="col-1-1">
      <div class="content">
        <div class="logo-wrap">
          <a href="/" class="logo">QWAN - Quality Without a Name</a>
        </div>
        <nav class="navigation">
          <input type="checkbox" id="nav-button">
          <label for="nav-button" onclick></label>
          <ul class="nav-container">
            <!--<li><a href="{{ include.baseurl }}#home" class="current">Home</a></li>-->
            <li><a href="{{ include.baseurl }}#services">Services</a></li>
            <li><a href="{{ include.baseurl }}training/">Training</a></li>
            <li><a href="{{ include.baseurl }}/blog.html>Blog</a></li>
            <li><a href="{{ include.baseurl }}#team">Team</a></li>
            <li><a href="{{ include.baseurl }}#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
