<header >
  <div >
    <div>
      <div class="content">
        <div class="name-plain">
          <a href="/" >QWAN - Quality Without a Name</a>
        </div>
        <nav class="mainmenu-plain">
            <!--<li><a href="{{ include.baseurl }}#home" class="current">Home</a></li>-->
            <div><a href="{{ include.baseurl }}#services">Services</a></div>
            <div><a href="{{ include.baseurl }}training/">Training</a></div>
            <div><a href="{{ include.baseurl }}#blog">Blog</a></div>
            <div><a href="{{ include.baseurl }}#team">Team</a></div>
            <div><a href="{{ include.baseurl }}#contact">Contact</a></div>
        </nav>
      </div>
    </div>
  </div>
</header>
