<header class="content header-plain">
        <div class="name-plain">
          <a href="/" >QWAN</a>
        </div>
        <nav class="mainmenu-plain" role="navigation" aria-label="menu">
          <ul>
            <li><a href="/#services">Services</a></li>
            <li><a href="/training/">Training</a></li>
            <li class="current">
              <a class="current" href="/blog_archive_plain">Blog</a>
            </li>
            <li><a href="/#team">Team</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </nav>
        <nav class="ribbon ribbon--modifier" role="navigation" aria-label="breadcrumbs">
          <a class="ribbon__element" href="/">Home</a>
          <a class="ribbon__element" href="/blog_archive_plain">Blog</a>
        </ul>
</header>
