<header class="content header-plain">
        <div class="name-plain" >
          <a href="/" >
            <img src="/images/qwan_logo_only_white.svg" alt="QWAN" />
          </a>
        </div>
        <nav class="mainmenu-plain" role="navigation" aria-label="menu">
            <a href="/#services">Services</a>
            <a href="/training/">Training</a>
            <a href="/blog">Blog</a>
            <a href="/clients">Clients</a>
            <a href="/#team">Team</a>
            <a href="/contact">Contact</a>
        </nav>
        <nav class="ribbon ribbon--alpha" role="navigation" aria-label="breadcrumbs">
          <a class="ribbon__element" href="/">Home</a>
          <span class="ribbon__element" >{{page.title}}</span>
        </nav>
</header>
