<header id="top-header" class="header-home">
  <div class="grid">
    <div class="col-1-1">
      <div class="content">
        <div class="logo-wrap">
          <a href="#0" class="logo">Curly</a>
        </div>
        <nav class="navigation">
          <input type="checkbox" id="nav-button">
          <label for="nav-button" onclick></label>
          <ul class="nav-container">
            <li><a href="#home" class="current">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#work">Work</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

