            <div class="wrap grey recent-wrap" id="work">
                <section class="grid grid-pad">
                    <h2>Recent Work</h2>
                    <!-- Start of Filter section -->
                    <div class="col-1-1 mix">
                        <ul class="filters" >
                            <li class="filter active" data-filter="all">All</li>
                            <li class="filter" data-filter=".illustration">Illustration</li>
                            <li class="filter" data-filter=".web-design">Web Design</li>
                            <li class="filter" data-filter=".photography">Photography</li>
                        </ul>
                    </div>
                    <!-- End of Filter section -->
                    <div class="portfolio-items" >
                        <div class="col-1-3 mix illustration">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/1-small.jpg" alt="">                                    
                                    <div class="overlay">
                                        <span>Training</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Asian tourist - Illustration" href="images/work/1-big.jpg">Clean code training for whole company</a></h2>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3 mix photography">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/5-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Photography</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:photography" title="Blue flowers - Photography" href="images/work/5-big.jpg">Blue flowers</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3 mix illustration">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/2-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Illustration</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Batman Wannabe - Illustration" href="images/work/2-big.jpg">Batman Wannabe</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3 mix photography">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/8-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Photography</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:photography" title="Big city and dreams - Photography" href="images/work/8-big.jpg">Big city and dreams</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3 mix web-design">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/6-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Web Design</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:webdesign" title="Minimal nature - Web Design" href="images/work/6-big.jpg">Minimal nature</a></h2>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-1-3 mix web-design">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/3-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Illustration</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Jack the sailor - Illustration" href="images/work/3-big.jpg">Jack the sailor</a></h2>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-1-3 mix photography">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/7-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Photography</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:photography" title="Enjoy live - Photography" href="images/work/7-big.jpg">Enjoy live</a></h2>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-1-3 mix illustration">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/4-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Illustration</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Run kitty run - Photography" href="images/work/4-big.jpg">Run kitty run</a></h2>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-1-3 mix illustration">
                            <div class="content">
                                <div class="recent-work">
                                    <img src="images/work/9-small.jpg" alt="">
                                    <div class="overlay">
                                        <span>Web Design</span>
                                        <h2><a class="img-wrap" data-rel="lightcase:webdesign" title="Would you? - Web Design" href="images/work/9-big.jpg">Would you?</a></h2>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-1-1"><a class="btn" href="#0">View More</a></div>

                </section>  
            </div>

