//
// Client quotes carousel
//

.quotes-icon {
  color: #1abc9c;
  font-size: 4em;
  line-height: 1;
  margin-bottom: 27px;
  vertical-align: top;
}

.cl-client-carousel .client-carousel-item h4 {
  font-style: italic;
}

.cl-client-carousel .client-carousel-item p {
  line-height: 1.8em;
  width: 80%;
  margin: 10px auto;
}

.cl-client-carousel.owl-theme .owl-controls .owl-page span {
  display: block;
  margin: 5px 7px;
/*border-radius*/
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  background: #fff;
}

.client-carousel-item {
  padding-bottom: 1.5em; // temp fix for client carousel height issue
}

//
// Clients grid
//

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 0.25fr));
  row-gap: 2em;
  column-gap: 2em;
  padding: 2em;

  img {
    width: 8em;
  }

  .client-wrap {
    background-color: #fbfbfb;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    min-height: 8em;
    margin: auto;
    text-align: center;
  }
}

//
// Clients quotes grid
//

.client-quotes-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26em, 1fr));
  row-gap: 1em;
  column-gap: 1em;
  padding: 0 2em 1em 2em;

  .client-quotes-item {
    padding: 0.1em 0.2em;
    background-color: #fbfbfb;
    border: 4px solid #f1f1f1;
    border-radius: 8px;
  }
  .client-quotes-item h4 {
    font-style: italic;
    line-height: 1.2em;
  }
  .client-quotes-item p {
    line-height: 1.8em;
    width: 80%;
    margin: 10px auto;
  }
}
