//
// Footer
//

footer {
  background:#2C2D31;
}

footer .grid {
  padding-top: 6em;
}

footer h3 {
  color: #fff;
}

footer p, footer a {
  color: #f4f4f4;
}

.footer-widget li {
  position: relative;
  padding: .1em 0;
  color: lightgray;
  list-style-type: disc;
}

.footer-widget li:first-child {
  padding-top: 0;
  border-top: 0;
}

.footer-widget ul {
  margin-left: 0;
  padding-left: 1em;
}


.social-set {
  width: 100%;
  margin: 0 0 .5em;
  padding: 0 0 1em 0;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    margin-right: 1em;
  }
}

.social-set a {
  font-size: 1.5em;
  margin-right: .5em;
  padding: 1em;
}

.copyright {
  text-align: center;
}
