/* *********************************************************
  Header
********************************************************* */

#top-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 23px 0;
/*transition*/
  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
       -o-transition: all .15s linear;
          transition: all .15s linear;
}

#top-header .grid {
  overflow: visible;
}

.logo {
  display: block;
  float: left;
  width: 600px;
  height: 71px;
  text-indent: -9999px;
  background: url(/images/logo.png) no-repeat;
  background-size: 600px 71px;
}

.header-default {
  background: #2C2D31;
}

.header-home {
  background: transparent;
/*box-shadow*/
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.header-home .navigation a {
  color: #fff;
}

.slider {
  height: 100%;
}
