//
// General styling
//

.services-wrap {
  text-align: center;
}

.no-line-numbers {
  td:first-of-type {
    display: none;
  }
}

//
// privacy stuff
//

.cookie-table {
  width: 100%;
}
.cookie-table-cell {
  border: 1px solid darkgray;
  padding: 0.25em;
}

//
// partners list
//

.partners-list {
  text-align: left;
  display: grid;
  grid-template-columns: 2fr 6fr;
  row-gap: 1em;
  column-gap: 5em;
  margin: auto;
  max-width: 60rem;
  padding-top: 1em;

  img {
    width: 100%;
  }
}

// 
// Training courses page
//

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23em, 0.33fr));
  row-gap: 0.5em;
  column-gap: 1em;
  justify-content: center;

  .post-meta {
    padding-bottom: 0.3em;
    font-style: oblique;
  }

  h3 {
    margin: 0.8em 0 1em;
  }
}

.trainingpage-layout {
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    text-align: center;
    text-transform: none;
    font-size: 1.8em;
    line-height: 1em;
  }
}
