
$phone: "screen and (max-width: 768px)";


nav.mainmenu-plain  {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5em, max-content));
  column-gap: 1em;
  row-gap: 0.1em;
  margin-bottom: 0em;
  padding-left: 0em;

  a {
    padding-top: 0.3em;
    font-size: 120%;
  }
}

em {
  font-style: italic;
}

.blogpage-layout {
  display: grid;
  grid-template-columns: auto 14em;
  row-gap: 1em;
  column-gap: 1em;
  padding-left: 1em;
  padding-right: 2em;
}
.cat-column {
  .cat-column-content {
    position: sticky;
  }
  h3 {
    margin: 1em 0 0.8rem;
  }
  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
}

/* blog summary experiment */
.blogsummary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, max-content));
  row-gap: 2em;
  column-gap: 2em;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
}

.post-summary-wrap {
  background-color: #fbfbfb;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  padding: 0 0.5em;
}

.post-wrap {
  max-width: 60rem;
  h1 {
    font-size: 2.1em;
    line-height: 1.2em;
    margin-top: 1.1em;
    margin-bottom: 0.6em;
  }
  img {
    margin: 0 0.5em;
  }
  .post {
    font-size: 120%;
    ul {
      margin-bottom: 0.7em;
      padding-left: 2em;
      list-style: disc;
    }
    li {
      list-style-position: outside;
      color: #525252;
    }
    ol {
      list-style: decimal;
      text-indent: 1em;
      li {
        list-style-type: decimal;
        list-style-position: outside;
        color: #525252;
      }
    }
    p {
      color: #525252;
      a {
        text-decoration-line: underline;
        text-decoration-style: solid;
      }
      strong {
        font-weight: bold;
      }    
    }
    h2 {
      text-transform: none;
      font-size: 1.5em;
      line-height: 1em;
      margin-top: 1.1em;
      margin-bottom: 0.6em;
    }

    h3 {
      font-size: 1.1em;
      line-height: 1.2em;
      margin-top: 1em;
      margin-bottom: 0.2em;
      padding-bottom: 0.1em;
    }

    blockquote {
      > :first-child {
        margin-top: 0;
      }
      width: 85%;
      border-radius: 10px;
      border: 3px solid darkgray;
      background-color: #f6f6f6;
      margin: 0.3em auto 0.5em auto;
      padding: 0.5em 1em 0.5em 1em;
      display: block;
      p {
        text-align: center;
        margin: 0.1em;
      }
    }

    .post-image {
      text-align: center;
    }
    .post-image-50 img {
      width: 50%;
    }
    .post-image-70 img {
      width: 70%;
    }

    img {
      margin-bottom: 1.2em;
    }

    .shout-out {
      width: 85%;
      border-radius: 10px;
      border: 3px solid darkgray;
      background-color: #f6f6f6;
      margin: 0.5em auto 0.3em auto;
      padding: 0.3em 1em 0.3em 1em;
      display: flex;
      flex-flow: row wrap;

      div:first-of-type {
        max-width: 30%;
      }
      div {
        max-width: 70%;
        padding: 0.3em;
        margin: auto;
      }
      img {
        margin: 0;
        padding: 0.1em;
      }
      p {
        font-size: larger;
        text-align: center;
        margin: 0.1em;
      }
    }

    @media  #{$phone} {
      .shout-out {
        width: 95%;
        display: flex;
        flex-flow: column-reverse wrap;
  
        div:first-of-type {
          max-width: 45%;
        }
        div {
          max-width: 95%;
          padding: 0.1em;
        }
      }
    }

    aside {
      border-radius: 10px;
      background-color: gainsboro;
      margin: 2em 1em 1em 1em;
      padding: 1em 1.5em 1em 1.5em;

      a {
        padding: 0.5em 1.5em;
        background-color: #1abc9c;
        text-decoration: none;
        color: white;
      }
      a:hover {
        background-color: #16a085;
      }
    }

    table {
      width: 100%;
      border: 1px solid #ddd;
      tbody {
        tr:nth-child(odd) {background-color: #f2f2f2;} 
        th, td {
          padding: 0.5em 1em;
          margin: 0;
          text-align: left;
        }
      }
    }

    table.rouge-table {
      border: none;
      tbody {
        tr {
          background-color: inherit;
        }
        td {
          padding: 0 0.1em;
          pre {
            margin: 0 0;
          }
        }
        td:first-of-type { // hide line numbers by default
          display: none;
        }
      }
    }  
    .code-line-numbers {
      table.rouge-table {
        tbody {
          td:first-of-type {
            display: block;
          }
        }
      }
    }      
  }

  .post-meta {
    margin-bottom: 0;
    line-height: normal;
  }
  .post-meta-item {
    margin-right: 0.5em;
  }
  .feed-icon {
    vertical-align: top;
    margin-bottom: 0.3em;
  }
}

.post-bottom-navigation {
  span {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

.no-line-numbers {
  td:first-of-type {
    display: none;
  }
}

// niet gebruikt:
.accessiblepost {
  font-size: 120%;
  ul {
    margin-bottom: 0.7em;
    list-style: disc;
    text-indent: 1em;
  }
  ol {
    list-style: decimal;
    text-indent: 1em;
  }
  a {
    color: #006f33;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
  p {
    color: #525252;
  }
  h1 {
    font-size: 2.1em;
    line-height: 1.2em;
    margin-top: 1.1em;
    margin-bottom: 0.6em;
  }

  h2 {
    font-size: 1.7em;
    line-height: 1em;
    margin-top: 1.1em;
    margin-bottom: 0.6em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 0.9em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
  }
}

.wrap {
  padding: 3.5em 0.5em 0.5em 0.5em;
}

.cookie-table {
  width: 100%;
}
.cookie-table-cell {
  border: 1px solid darkgray;
  padding: 0.25em;
}

footer .grid {
  padding-top: 1em;
}

footer h3 {
  margin: 0.5em 0;
}

.client-carousel-item {
  padding-bottom: 1.5em; // temp fix for client carousel height issue
}

// Client quotes & logos

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 0.25fr));
  row-gap: 2em;
  column-gap: 2em;
  padding: 2em;

  img {
    width: 8em;
  }

  .client-wrap {
    background-color: #fbfbfb;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    min-height: 8em;
    margin: auto;
    text-align: center;
  }
}

.client-quotes-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26em, 1fr));
  row-gap: 1em;
  column-gap: 1em;
  padding: 0 2em 1em 2em;

  .client-quotes-item {
    padding: 0.1em 0.2em;
    background-color: #fbfbfb;
    border: 4px solid #f1f1f1;
    border-radius: 8px;
  }
  .client-quotes-item h4 {
    font-style: italic;
    line-height: 1.2em;
  }
  .client-quotes-item p {
    line-height: 1.8em;
    width: 80%;
    margin: 10px auto;
  }
}

.partners-list {
  text-align: left;
  display: grid;
  grid-template-columns: 2fr 6fr;
  row-gap: 1em;
  column-gap: 6em;
  margin: auto;
  max-width: 60rem;

  img {
    width: 100%;
  }
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  row-gap: 0.5em;
  column-gap: 1em;

  .post-meta {
    padding-bottom: 0.3em;
    font-style: oblique;
  }
}
