
$phone: "screen and (max-width: 768px)";

//
// blog
//

.blogpage-layout {
  display: grid;
  grid-template-columns: auto 14em;
  row-gap: 1em;
  column-gap: 1em;
  padding-left: 1em;
  padding-right: 2em;
}
.cat-column {
  .cat-column-content {
    position: sticky;
  }
  h3 {
    margin: 1em 0 0.8rem;
  }
  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
}

//
// Blog: summary & posts
//

.blogsummary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, max-content));
  row-gap: 2em;
  column-gap: 2em;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
}

.post-summary-wrap {
  background-color: #fbfbfb;
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  padding: 0 0.5em;
}

.post-wrap {
  max-width: 60rem;
  h1 {
    font-size: 2.1em;
    line-height: 1.2em;
    margin-top: 1.1em;
    margin-bottom: 0.6em;
  }
  img {
    margin: 0 0.5em;
  }
  .post {
    font-size: 120%;
    ul {
      margin-bottom: 0.7em;
      padding-left: 2em;
      list-style: disc;
    }
    li {
      list-style-position: outside;
      color: #525252;
    }
    ol {
      list-style: decimal;
      // text-indent: 1em;
      li {
        list-style-type: decimal;
        list-style-position: outside;
        color: #525252;
      }
    }
    p {
      color: #525252;
      a {
        text-decoration-line: underline;
        text-decoration-style: solid;
      }
      strong {
        font-weight: bold;
      }    
    }
    h1 {
      text-transform: none;  
      font-size: 1.6em;
      line-height: 1.2em;
      margin-top: 1.1em;
      margin-bottom: 0.6em;
    }
    h2 {
      text-transform: none;
      font-size: 1.4em;
      line-height: 1.2em;
      margin-top: 1.1em;
      margin-bottom: 0.6em;
    }

    h3 {
      font-size: 1.1em;
      line-height: 1.2em;
      margin-top: 1em;
      margin-bottom: 0.2em;
      padding-bottom: 0.1em;
    }

    blockquote {
      > :first-child {
        margin-top: 0;
      }
      width: 85%;
      border-radius: 10px;
      border: 3px solid darkgray;
      background-color: #f6f6f6;
      margin: 0.3em auto 0.5em auto;
      padding: 0.5em 1em 0.5em 1em;
      display: block;
      p {
        text-align: center;
        margin: 0.1em;
      }
    }

    .post-image {
      text-align: center;
    }
    .post-image-30 img {
      width: 30%;
    }
    .post-image-50 img {
      width: 50%;
    }
    .post-image-70 img {
      width: 70%;
    }

    img {
      margin-bottom: 1.2em;
    }

    .shout-out {
      width: 85%;
      border-radius: 10px;
      border: 3px solid darkgray;
      background-color: #f6f6f6;
      margin: 0.5em auto 0.3em auto;
      padding: 0.3em 1em 0.3em 1em;
      display: flex;
      flex-flow: row wrap;

      div:first-of-type {
        max-width: 30%;
      }
      div {
        max-width: 70%;
        padding: 0.3em;
        margin: auto;
      }
      img {
        margin: 0;
        padding: 0.1em;
      }
      p {
        font-size: larger;
        text-align: center;
        margin: 0.1em;
      }
    }

    @media  #{$phone} {
      .shout-out {
        width: 95%;
        display: flex;
        flex-flow: column-reverse wrap;
  
        div:first-of-type {
          max-width: 45%;
        }
        div {
          max-width: 95%;
          padding: 0.1em;
        }
      }
    }

    aside {
      border-radius: 10px;
      background-color: gainsboro;
      margin: 2em 1em 1em 1em;
      padding: 1em 1.5em 1em 1.5em;

      a {
        padding: 0.5em 1.5em;
        background-color: #1abc9c;
        text-decoration: none;
        color: white;
      }
      a:hover {
        background-color: #16a085;
      }
    }

    table {
      width: 100%;
      border: 1px solid #ddd;
      tbody {
        tr:nth-child(odd) {background-color: #f2f2f2;} 
        th, td {
          padding: 0.5em 1em;
          margin: 0;
          text-align: left;
        }
      }
    }

    table.rouge-table {
      border: none;
      tbody {
        tr {
          background-color: inherit;
        }
        td {
          padding: 0 0.1em;
          pre {
            margin: 0 0;
          }
        }
        td:first-of-type { // hide line numbers by default
          display: none;
        }
      }
    }  
    .code-line-numbers {
      table.rouge-table {
        tbody {
          td:first-of-type {
            display: block;
          }
        }
      }
    }      
  }

  .post-meta {
    margin-bottom: 0;
    line-height: normal;
  }
  .post-meta-item {
    margin-right: 0.5em;
  }
  .feed-icon {
    vertical-align: top;
    margin-bottom: 0.3em;
  }
}

.post-bottom-navigation {
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  display: grid;

  .previous-link {
    display: flex;
    justify-content: left;
  }
  .next-link {
    display: flex;
    justify-content: right;
  }
}

//
// General styling
//

.wrap {
  padding: 3.5em 0.5em 0.5em 0.5em;
}

.services-wrap {
  text-align: center;
}

// .no-line-numbers {
//   td:first-of-type {
//     display: none;
//   }
// }

//
// privacy stuff
//

.cookie-table {
  width: 100%;
}
.cookie-table-cell {
  border: 1px solid darkgray;
  padding: 0.25em;
}

//
// partners list
//

.partners-list {
  text-align: left;
  display: grid;
  grid-template-columns: 2fr 6fr;
  row-gap: 1em;
  column-gap: 5em;
  margin: auto;
  max-width: 60rem;
  padding-top: 1em;

  img {
    width: 100%;
  }
}

// 
// Training courses page
//

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  row-gap: 0.5em;
  column-gap: 1em;

  .post-meta {
    padding-bottom: 0.3em;
    font-style: oblique;
  }
}

.trainingpage-layout {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1em;
  column-gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
