
/**********************************************************
  Services Section
********************************************************* */

.service-box {
  text-align: center;
}

.service-icon {
  margin-top: 20px;
  padding-top: 1em;
}

.circle-icon {
  display: inline-block;
  font-size: 2em;
  padding: 1.1em 1.15em;
  color: #484f58;
/*border-radius*/
  -webkit-border-radius: 10%;
     -moz-border-radius: 10%;
          border-radius: 10%;
  background: transparent;
/*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px #484f58;
     -moz-box-shadow: 0 0 0 2px #484f58;
          box-shadow: 0 0 0 2px #484f58;
/*transition*/
  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
       -o-transition: all .15s linear;
          transition: all .15s linear;
}

.service-box:hover .circle-icon {
    /*box-shadow*/
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.service-entry {
  margin-top: 70px;
  padding: 0 .5em;
}

.service-entry p {
  margin-bottom: 10px;
}
