---
title: QWAN
---
<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3KRFSQDFHN"></script>
    <script>
      const consent = document.cookie
        .split('; ')
        .find(row => row.startsWith('cookieconsent_status'))
        .split('=')[1];
      if (consent === 'deny') { window['ga-disable-G-3KRFSQDFHN'] = true; }

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-3KRFSQDFHN');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">

    <title>{{page.title}}</title>

    {% if page.summary %}
    <meta name="description" content="{{ page.summary | escape }}">
    {% endif %}

    {%if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
    {%endif %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/simplegrid.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- Bunny fonts (EU/GDPR compliant replacement for Google Fonts) -->
    <link href='https://fonts.bunny.net/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.bunny.net/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Cookie consent - https://www.osano.com/cookieconsent/download/ --> 
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  </head>
  <body class="plain">
    {{ content }}

    {% include curvedown.html %}
    {% include footer.html %}

    <!-- Cookie consent - https://www.osano.com/cookieconsent/download/ --> 
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
     window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#edeff5",
          "text": "#838391"
        },
        "button": {
          "background": "#4b81e8"
        }
      },
      "type": "opt-out",
      "content": {
        "href": "/privacy"
      }
    });
    </script>
  </body>

</html>
