---
title: QWAN
---
<!doctype html>
<!-- start from scratch, and see what the minimum is we need to make it appear like the rest. -->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{page.title}}</title>

    {% if page.summary %}
    <meta name="description" content="{{ page.summary | escape }}">
    {% endif %}

    {%if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
    {%endif %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body class="plain">
    {{ content }}
  </body>

</html>
