---
layout: accessibletwo
title: Reflections - Blog
---

{% capture tag_names %} 
{% for tag in site.tags %}{{ tag[0] | replace: ' ', '-' }},{% endfor %}
{% endcapture %}
{% assign tag_names = tag_names | strip | split: "," | sort: 'downcase' %}

<style>
  #tag-{{ tag_names | join: ", #tag-"}} {
    display: none;
  }
  .grid-pad-wrapper::before {
    content: "";
    display: block;
    height: 9999px;
    margin-top: -9999px; // higher than page height
  }
  {% for tag in tag_names %}
  #tag-{{ tag }}:target {
    display: block;
  }
  {% endfor %}
</style>

{% include header_clean.html %}

<div style="margin: 2em;">
  <h2 style="margin-bottom: 0em;">{{page.title}}</h2>
</div>
<div class="blogpage-layout">
  <div> 
    {{ content }}
  </div>

  <div class="cat-column">
    <div class="feed"><br/>
      <a href="/feed.xml"><img class="feed-icon" src="/images/feed-icon-24x24.png" alt="">
        Subscribe to our RSS feed.</a>
    </div>
    <h3>Categories</h3>
    <ul>
      <li><a href="/blog">All</a></li>

      {% for tag in tag_names %}
      <li><a href="/blog-by-tag#tag-{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include curvedown.html %}
{% include footer.html %}
