---
layout: accessibletwo
---
{% include header_clean.html parent="Blog" parenturl="/blog" %}

<div class="wrap">
  <article class="post-wrap" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header .entry-title">
      <h1>{{ page.title }}</h1>
      <p class="post-meta">
        <div>
          <span class="post-meta-item"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
        {% if page.author %}
          <span class="post-meta-item" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="post-meta-item" itemprop="name">{{ page.author }}</span>
        {% endif %}
        <span class="post-meta-item">
          <a href="/feed.xml">
            Subscribe to the RSS feed
            <img class="feed-icon" src="/images/feed-icon-24x24.png" alt="">
          </a>
        </span>

        </div>
      {% if page.tags %}
        <div>Tags:
        {% for tag in page.tags %}
        <a href="/blog-by-tag#tag-{{ tag | replace: ' ', '-' }}">{{ tag }}</a>,
        {% endfor %}
        </div>
      {% endif %}
        <div>
        </div>
      </p>
    </header>

    <div class="post" itemprop="articleBody">
      {{ content }}
    </div>
  </article>

  <div class="post-wrap post-bottom-navigation">
    <div class="previous-link">
    {% if page.previous %}
      <a rel="prev" href="{{ page.previous.url }}"><i class="icon-previous2"></i> Previous Entry</a>
    {% endif %}
    </div>

    <div>
        <a href="/feed.xml">
          <img class="feed-icon" src="/images/feed-icon-32x32.png" alt="RSS feed icon">
          Subscribe to our RSS feed
        </a>
      </div>

    <div class="next-link">
    {% if page.next %}
      <a rel="next" href="{{ page.next.url }}">Next Entry <i class="icon-next2"></i></a>
    {% endif %}
    </div>
  </div>
</div>
