---
layout: default
---
{% include header.html baseurl="/" %}

{% include other-page-top-section.html %}

<div class="wrap">
  <div class="grid grid-pad">
    <div class="col-1-1">
      <article class="post-wrap" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header .entry-title">
          <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
            <span><a href="/feed.xml"><img class="feed-icon" src="/images/feed-icon-24x24.png"></a></span>
            </p>
        </header>

        <div class="post" itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </div>

    <div class="col-1-2">
      {% if page.previous %}
      <span class="previous-link">
        <a rel="prev" href="{{ page.previous.url }}"><i class="icon-previous2"></i> Previous Entry</a>
      </span>
      {% endif %}
    </div>

    <div class="col-1-2">
      {% if page.next %}
      <span class="next-link">
        <a rel="next" href="{{ page.next.url }}">Next Entry <i class="icon-next2"></i></a>
      </span>
      {% endif %}
    </div>

    <div class="col-1-1">
      <p class="feed"><br/>
      <a href="/feed.xml"><img class="feed-icon" src="/images/feed-icon-32x32.png"></a>
        <a href="/feed.xml"> Subscribe to QWAN's feed - Systemic Thinking for Sustainable Development</a></p>
    </div>
  </div>
</div>

{% include curvedown.html %}
{% include footer.html %}
